*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
android/build/
/captures
.externalNativeBuild
.cxx
local.properties
android/app/build/

# iOS
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/build/
ios/DerivedData/
xcuserdata/
